<div class="mdl-grid">
  <div class="add-on-layer dropdown clearfix pull-right">
    <button id="inside-menu-lower-right"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">import_export</i>
    </button>
    <div class="mdl-tooltip" for="inside-menu-lower-right">
      Sort By
    </div>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="inside-menu-lower-right">
      <%= link_to("Min Wage", jobs_path(:order => "by_lower_bound"),
          class:"mdl-menu__item") %>
      <%= link_to("Max Wage", jobs_path(:order => "by_upper_bound"),
          class:"mdl-menu__item") %>
      <%= link_to("Update Time", jobs_path,
          class:"mdl-menu__item") %>
    </ul>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th> # </th>
        <th class="mdl-data-table__cell--non-numeric"> Title </th>
        <th class="mdl-data-table__cell--non-numeric"> Description </th>
        <th> Wage </th>
        <th> Publish Time </th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td> #</td>
          <td class="mdl-data-table__cell--non-numeric"> <%= link_to(job.title, job_path(job)) %> </td>
          <td class="mdl-data-table__cell--non-numeric"> <%= job.description[0..40].gsub(/\s\w+$/,'...')  %> </td>
          <td> <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %> </td>
          <td> <%= job.created_at %> </td>
          <% if current_user %>
            <td>
                <%= link_to("Submit Resume", new_job_resume_path(job),
                    class: "mdl-button mdl-button-xs mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect")%>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
