<div class="mdl-grid">
  <div class="col-center mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">


    <h2> <%= @job.title %> </h2>
    <p> Wage: <%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %> </p>
    <p> <%= @job.description %> </p>

    <center>
      <%= link_to("Submit Resume", new_job_resume_path(@job), style:"zoom: 200%;",
          class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") %>
    </center>
  </div>
</div>
