<!--
<% if @job.errors.any? %>
  <ul>
    <% @job.errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
-->
<% if @job.errors.any? %>
  <ul>
    <% @job.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [:admin, @job] do |f| %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :title,
        class: "mdl-textfield__input string optional form-control", type:"string", required:"required" %>
    <%= f.label "Title",
        class: "mdl-textfield__label string optional control-label" %>
    <span class="mdl-textfield__error">Can't be empty</span>
  </div><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_area :description,
        class: "mdl-textfield__input string optional form-control", type:"text" %>
    <%= f.label "Description",
        class: "mdl-textfield__label string optional control-label" %>
  </div><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :wage_lower_bound,
        class: "mdl-textfield__input string optional form-control", type:"number" %>
    <%= f.label "Wage lower bound",
        class: "mdl-textfield__label string optional control-label" %>
    <span class="mdl-textfield__error">Numbers only</span>
  </div><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :wage_upper_bound,
        class: "mdl-textfield__input string optional form-control", type:"number" %>
    <%= f.label "Wage upper bound",
        class: "mdl-textfield__label string optional control-label" %>
    <span class="mdl-textfield__error">Numbers only</span>
  </div><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :contact_email,
        class: "mdl-textfield__input string optional form-control", type:"string" %>
    <%= f.label "Contact email",
        class: "mdl-textfield__label string optional control-label" %>
  </div><br>

  <div class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
    <%= f.check_box :is_hidden,
        class: "mdl-checkbox__input form-control", type:"checkbox" %>
    <%= f.label "Is hidden",
        class: "mdl-checkbox__label control-label" %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submiting..." },
      class: "mdl-button  mdl-button--primary mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
<% end %>
