<!DOCTYPE html>
<html>
  <head>
      <title>Fantastic Offer</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="shortcut icon" href="/images/whatshot.png">
  </head>

  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <%= render "common/navbar" %>

      <main class="mdl-layout__content">
        <div class="page-content">
          <%= yield %>
        </div>
        <%= render "common/footer" %>
      </main>

    </div>

  </body>
</html>
