<h3> 投交履历到 <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
  <div class="form-job">
    <%= f.input :content, input_html: { class: "form-control"} %>
    <%= f.input :attachment, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "送出", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
