<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
      <i class="large material-icons" style="vertical-align: text-bottom">whatshot</i>
      <%= link_to("Fantastic Offer", "/", href:"/", style:"text-decoration: none; color: white;") %>
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <%= render "common/navigation_links" %>

      <% if !current_user %>
        <a class="mdl-navigation__link" href="/users/sign_up">Sign up</a>
        <a class="mdl-navigation__link" href="/users/sign_in">Log in</a>
      <% else %>
        Hi!, <%= current_user.email %>

        <button id="navi-menu-lower-right"
                class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="navi-menu-lower-right">
          <% if current_user && current_user.admin? %>
            <%= link_to("Admin", admin_jobs_path, class: "mdl-menu__item") %>
            <li><hr></li>
          <% end %>
          <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "mdl-menu__item") %>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Title</span>
  <nav class="mdl-navigation">
    <%= render "common/navigation_links" %>
    <hr>
    <% if !current_user %>
      <a class="mdl-navigation__link" href="/users/sign_up">Sign up</a>
      <a class="mdl-navigation__link" href="/users/sign_in">Log in</a>
    <% else %>
      <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "mdl-navigation__link") %>
    <% end %>
  </nav>
</div>
